#stars,
#stars::after {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 1732px #fff, 1558px 1459px #fff, 766px 38px #fff,
    280px 1872px #fff, 1509px 1481px #fff, 276px 1765px #fff, 148px 291px #fff,
    145px 1023px #fff, 1506px 1337px #fff, 1021px 1584px #fff,
    1235px 1511px #fff, 1691px 1492px #fff, 699px 1223px #fff, 310px 960px #fff,
    422px 68px #fff, 1991px 571px #fff, 2000px 1883px #fff, 372px 1447px #fff,
    1062px 565px #fff, 1943px 499px #fff, 1638px 870px #fff, 941px 427px #fff,
    492px 1646px #fff, 1681px 462px #fff, 688px 622px #fff, 697px 1545px #fff,
    691px 577px #fff, 1987px 417px #fff, 1973px 137px #fff, 1922px 252px #fff,
    1846px 367px #fff, 1183px 1785px #fff, 435px 701px #fff, 493px 127px #fff,
    1182px 309px #fff, 1796px 230px #fff, 1148px 1045px #fff, 820px 297px #fff,
    1447px 1883px #fff, 294px 1757px #fff, 1313px 1700px #fff,
    1523px 1278px #fff, 118px 1165px #fff, 1036px 640px #fff, 317px 1520px #fff,
    482px 559px #fff, 1166px 1434px #fff, 1534px 1680px #fff, 1825px 364px #fff,
    1288px 1279px #fff, 1470px 734px #fff, 1287px 794px #fff, 489px 878px #fff,
    857px 426px #fff, 1453px 855px #fff, 137px 903px #fff, 1876px 1815px #fff,
    1070px 1711px #fff, 1751px 951px #fff, 859px 1556px #fff, 378px 1550px #fff,
    1865px 1579px #fff, 806px 495px #fff, 310px 421px #fff, 637px 1056px #fff,
    1538px 1578px #fff, 1594px 1589px #fff, 1541px 237px #fff, 941px 477px #fff,
    807px 960px #fff, 1627px 347px #fff, 185px 1992px #fff, 31px 1388px #fff,
    1123px 252px #fff, 1448px 1630px #fff, 350px 1482px #fff, 686px 909px #fff,
    1005px 47px #fff, 1158px 1831px #fff, 179px 314px #fff, 250px 356px #fff,
    1134px 774px #fff, 97px 1078px #fff, 1561px 1566px #fff, 1688px 233px #fff,
    1626px 84px #fff, 73px 928px #fff, 717px 1810px #fff, 972px 1656px #fff,
    1453px 1684px #fff, 1105px 1759px #fff, 754px 1854px #fff, 1694px 332px #fff,
    1499px 1600px #fff, 1324px 781px #fff, 656px 1806px #fff, 1954px 1898px #fff,
    648px 1743px #fff, 1583px 653px #fff, 1591px 1825px #fff, 1412px 1491px #fff,
    1416px 1495px #fff, 1145px 308px #fff, 1231px 1315px #fff, 689px 1407px #fff,
    1085px 302px #fff, 141px 1303px #fff, 434px 1930px #fff, 80px 656px #fff,
    29px 817px #fff, 532px 482px #fff, 1783px 1550px #fff, 1452px 1127px #fff,
    1373px 1916px #fff, 1458px 452px #fff, 1698px 1672px #fff, 656px 1007px #fff,
    1694px 60px #fff, 1667px 1157px #fff, 862px 479px #fff, 1913px 1765px #fff,
    744px 1170px #fff, 896px 1589px #fff, 965px 375px #fff, 839px 820px #fff,
    3px 104px #fff, 1338px 223px #fff, 26px 862px #fff, 1435px 117px #fff,
    1563px 1455px #fff, 1254px 385px #fff, 1432px 131px #fff, 307px 719px #fff,
    51px 691px #fff, 1635px 791px #fff, 1691px 1370px #fff, 1348px 1906px #fff,
    228px 1596px #fff, 608px 1261px #fff, 1939px 870px #fff, 1149px 1783px #fff,
    1234px 1499px #fff, 385px 1532px #fff, 214px 420px #fff, 511px 599px #fff,
    1603px 575px #fff, 1197px 1381px #fff, 1622px 1789px #fff,
    1404px 1361px #fff, 1777px 637px #fff, 88px 448px #fff, 1097px 1874px #fff,
    554px 631px #fff, 1836px 628px #fff, 1506px 351px #fff, 601px 378px #fff,
    1136px 893px #fff, 337px 1328px #fff, 697px 1574px #fff, 181px 1682px #fff,
    1647px 479px #fff, 909px 1269px #fff, 465px 1129px #fff, 28px 820px #fff,
    258px 93px #fff, 1035px 129px #fff, 804px 1132px #fff, 336px 1904px #fff,
    1359px 1124px #fff, 357px 1706px #fff, 1622px 1364px #fff, 244px 1187px #fff,
    1505px 614px #fff, 721px 403px #fff, 225px 391px #fff, 125px 51px #fff,
    632px 1937px #fff, 1368px 429px #fff, 463px 457px #fff, 1802px 694px #fff,
    1113px 1678px #fff, 956px 222px #fff, 1637px 1239px #fff, 985px 44px #fff,
    511px 189px #fff, 1830px 241px #fff, 1548px 1118px #fff, 1678px 1928px #fff,
    1100px 924px #fff, 554px 1835px #fff, 1827px 352px #fff, 1982px 1627px #fff,
    471px 1699px #fff, 1319px 1290px #fff, 630px 305px #fff, 1005px 1424px #fff,
    1411px 414px #fff, 139px 1523px #fff, 183px 1979px #fff, 468px 818px #fff,
    1886px 1289px #fff, 383px 21px #fff, 1019px 532px #fff, 777px 1546px #fff,
    182px 1683px #fff, 678px 1043px #fff, 146px 82px #fff, 810px 1719px #fff,
    255px 1987px #fff, 1538px 1162px #fff, 1435px 1172px #fff, 501px 1964px #fff,
    450px 1955px #fff, 1956px 1957px #fff, 115px 1030px #fff, 1410px 190px #fff,
    707px 1294px #fff, 1798px 769px #fff, 55px 714px #fff, 970px 345px #fff,
    672px 598px #fff, 601px 813px #fff, 309px 627px #fff, 1610px 1257px #fff,
    1189px 756px #fff, 528px 927px #fff, 36px 292px #fff, 1069px 1118px #fff,
    1452px 945px #fff, 42px 802px #fff, 1289px 158px #fff, 947px 558px #fff,
    711px 45px #fff, 1017px 1414px #fff, 1232px 243px #fff, 455px 692px #fff,
    124px 1057px #fff, 113px 80px #fff, 445px 853px #fff, 1527px 535px #fff,
    1277px 549px #fff, 68px 1026px #fff, 1191px 1161px #fff, 663px 935px #fff,
    211px 1660px #fff, 1954px 1519px #fff, 1429px 289px #fff, 218px 1251px #fff,
    1442px 109px #fff, 917px 1280px #fff, 1697px 1617px #fff, 166px 121px #fff,
    1659px 1349px #fff, 922px 462px #fff, 1057px 1514px #fff, 1254px 142px #fff,
    1958px 1302px #fff, 1897px 712px #fff, 35px 913px #fff, 70px 1675px #fff,
    1729px 1877px #fff, 126px 1201px #fff, 1770px 1964px #fff, 190px 1902px #fff,
    813px 1339px #fff, 1825px 164px #fff, 1216px 1825px #fff, 1807px 1120px #fff,
    503px 292px #fff, 1162px 265px #fff, 967px 1726px #fff, 1757px 955px #fff,
    208px 708px #fff, 381px 1939px #fff, 476px 1163px #fff, 1669px 1651px #fff,
    1902px 1351px #fff, 1447px 1327px #fff, 477px 978px #fff, 1076px 446px #fff,
    1119px 1504px #fff, 46px 1974px #fff, 56px 1958px #fff, 1819px 1674px #fff,
    272px 1057px #fff, 195px 1363px #fff, 28px 1959px #fff, 41px 1574px #fff,
    1537px 811px #fff, 1307px 1957px #fff, 1762px 789px #fff, 1764px 333px #fff,
    528px 1767px #fff, 930px 1682px #fff, 1841px 252px #fff, 519px 47px #fff,
    1535px 446px #fff, 1560px 621px #fff, 1496px 539px #fff, 1478px 662px #fff,
    1470px 194px #fff, 1895px 981px #fff, 306px 1666px #fff, 208px 333px #fff,
    545px 1472px #fff, 1357px 1597px #fff, 1510px 1737px #fff,
    1943px 1270px #fff, 1422px 615px #fff, 474px 343px #fff, 1401px 1060px #fff,
    526px 856px #fff, 748px 1202px #fff, 1893px 44px #fff, 1378px 269px #fff,
    890px 621px #fff, 86px 1003px #fff, 1198px 451px #fff, 1341px 1010px #fff,
    684px 966px #fff, 142px 1268px #fff, 1813px 1613px #fff, 1328px 1149px #fff,
    223px 1340px #fff, 1030px 1975px #fff, 1230px 1768px #fff,
    1741px 1694px #fff, 1032px 205px #fff, 1040px 1333px #fff,
    1063px 1144px #fff, 400px 1774px #fff, 1356px 84px #fff, 1248px 622px #fff,
    305px 1387px #fff, 324px 1750px #fff, 1712px 1414px #fff, 884px 1307px #fff,
    1167px 768px #fff, 717px 201px #fff, 1656px 1053px #fff, 1882px 1995px #fff,
    620px 1000px #fff, 91px 1829px #fff, 812px 1747px #fff, 1456px 854px #fff,
    630px 1311px #fff, 1202px 1674px #fff, 1678px 997px #fff, 718px 723px #fff,
    1057px 694px #fff, 544px 39px #fff, 1253px 1595px #fff, 949px 226px #fff,
    1294px 1584px #fff, 1918px 408px #fff, 1044px 1119px #fff, 1449px 226px #fff,
    1637px 198px #fff, 255px 1769px #fff, 545px 1141px #fff, 1429px 271px #fff,
    483px 752px #fff, 1822px 904px #fff, 329px 1377px #fff, 860px 1616px #fff,
    640px 673px #fff, 1744px 427px #fff, 1258px 1122px #fff, 341px 873px #fff,
    800px 1391px #fff, 698px 986px #fff, 708px 1727px #fff, 1777px 981px #fff,
    1537px 677px #fff, 1058px 1210px #fff, 1995px 189px #fff, 419px 445px #fff,
    1575px 348px #fff, 1702px 1066px #fff, 878px 41px #fff, 1348px 447px #fff,
    160px 1502px #fff, 1569px 1794px #fff, 1614px 1092px #fff,
    1288px 1539px #fff, 462px 1206px #fff, 268px 1583px #fff, 667px 1635px #fff,
    666px 1328px #fff, 468px 1703px #fff, 247px 308px #fff, 1500px 241px #fff,
    448px 1468px #fff, 373px 1590px #fff, 567px 1022px #fff, 1452px 1265px #fff,
    783px 855px #fff, 1919px 371px #fff, 1912px 1337px #fff, 1202px 1536px #fff,
    807px 369px #fff, 923px 485px #fff, 1440px 147px #fff, 149px 68px #fff,
    311px 1952px #fff, 928px 1349px #fff, 685px 235px #fff, 1902px 186px #fff,
    724px 1004px #fff, 1073px 1667px #fff, 1613px 1262px #fff, 1201px 814px #fff,
    785px 537px #fff, 1565px 1252px #fff, 1174px 1242px #fff, 710px 1164px #fff,
    490px 1019px #fff, 1450px 633px #fff, 1269px 135px #fff, 1934px 914px #fff,
    21px 223px #fff, 1764px 254px #fff, 1784px 1590px #fff, 933px 1001px #fff,
    1856px 1750px #fff, 1958px 4px #fff, 1550px 261px #fff, 1799px 1826px #fff,
    1566px 845px #fff, 456px 1538px #fff, 1415px 431px #fff, 1660px 1778px #fff,
    1476px 550px #fff, 157px 1537px #fff, 1752px 1900px #fff, 1787px 1603px #fff,
    692px 24px #fff, 97px 1359px #fff, 877px 1694px #fff, 1650px 1395px #fff,
    1017px 1263px #fff, 1843px 1006px #fff, 591px 1896px #fff, 747px 1798px #fff,
    1556px 916px #fff, 1607px 1992px #fff, 846px 102px #fff, 136px 1110px #fff,
    1994px 1808px #fff, 178px 311px #fff, 815px 1835px #fff, 188px 493px #fff,
    427px 324px #fff, 822px 1133px #fff, 1951px 1375px #fff, 804px 1605px #fff,
    1443px 254px #fff, 470px 1222px #fff, 1537px 312px #fff, 1096px 1934px #fff,
    764px 380px #fff, 907px 248px #fff, 1156px 385px #fff, 367px 1894px #fff,
    946px 592px #fff, 700px 1619px #fff, 1362px 660px #fff, 1824px 407px #fff,
    1610px 1715px #fff, 129px 1578px #fff, 660px 1129px #fff, 371px 594px #fff,
    1655px 1770px #fff, 140px 462px #fff, 629px 1005px #fff, 1417px 855px #fff,
    1803px 1689px #fff, 1212px 1725px #fff, 380px 1275px #fff, 229px 930px #fff,
    666px 932px #fff, 168px 157px #fff, 76px 57px #fff, 1137px 976px #fff,
    797px 828px #fff, 1958px 1564px #fff, 1374px 906px #fff, 1846px 1540px #fff,
    30px 1141px #fff, 916px 1968px #fff, 269px 1116px #fff, 719px 957px #fff,
    1970px 1105px #fff, 69px 886px #fff, 1286px 423px #fff, 676px 422px #fff,
    138px 38px #fff, 696px 1783px #fff, 1129px 834px #fff, 1748px 679px #fff,
    175px 1189px #fff, 959px 1206px #fff, 1090px 1789px #fff, 355px 280px #fff,
    1583px 728px #fff, 1179px 839px #fff, 189px 214px #fff, 864px 336px #fff,
    1874px 1608px #fff, 1586px 1374px #fff, 1311px 1223px #fff,
    1024px 795px #fff, 31px 284px #fff, 566px 315px #fff, 563px 915px #fff,
    1088px 1938px #fff, 1824px 382px #fff, 1325px 1131px #fff, 972px 1178px #fff,
    174px 696px #fff, 1185px 398px #fff, 780px 1501px #fff, 77px 159px #fff,
    378px 1480px #fff, 889px 140px #fff, 1468px 1920px #fff, 1068px 1052px #fff,
    419px 443px #fff, 476px 500px #fff, 1081px 992px #fff, 58px 808px #fff,
    1513px 663px #fff, 1960px 1727px #fff, 1599px 616px #fff, 1227px 1564px #fff,
    225px 1695px #fff, 479px 139px #fff, 316px 1016px #fff, 1266px 553px #fff,
    1227px 698px #fff, 1382px 1310px #fff, 323px 908px #fff, 1946px 1147px #fff,
    139px 1837px #fff, 1748px 1876px #fff, 240px 1299px #fff, 746px 613px #fff,
    1287px 867px #fff, 1594px 663px #fff, 715px 594px #fff, 1778px 1156px #fff,
    743px 777px #fff, 1966px 1798px #fff, 1570px 1350px #fff, 1486px 707px #fff,
    858px 1911px #fff, 196px 1486px #fff, 991px 1680px #fff, 479px 782px #fff,
    1290px 177px #fff, 366px 1696px #fff, 1587px 1983px #fff, 767px 1517px #fff,
    1971px 74px #fff, 1520px 1371px #fff, 1285px 930px #fff, 298px 225px #fff,
    1385px 152px #fff, 349px 1531px #fff, 1035px 1847px #fff, 831px 1147px #fff,
    1143px 1073px #fff, 260px 1066px #fff, 537px 968px #fff, 99px 906px #fff,
    510px 453px #fff, 1943px 639px #fff, 1629px 647px #fff, 1937px 343px #fff,
    1862px 1780px #fff, 1465px 1128px #fff, 1733px 1327px #fff,
    1700px 367px #fff, 1918px 1159px #fff, 756px 383px #fff, 367px 1252px #fff,
    968px 253px #fff, 645px 288px #fff, 1560px 1492px #fff, 1565px 1404px #fff,
    541px 1940px #fff, 688px 353px #fff, 1612px 5px #fff, 647px 1807px #fff,
    512px 1992px #fff, 1465px 600px #fff, 317px 724px #fff, 264px 83px #fff,
    1894px 839px #fff, 446px 737px #fff, 1634px 295px #fff, 456px 147px #fff,
    1420px 1747px #fff, 1677px 1069px #fff, 1621px 500px #fff, 222px 480px #fff,
    1971px 95px #fff, 1485px 612px #fff, 798px 812px #fff, 676px 1655px #fff,
    1150px 221px #fff, 669px 821px #fff, 1943px 714px #fff, 1021px 1460px #fff,
    1716px 1162px #fff, 1073px 1401px #fff, 764px 351px #fff, 559px 162px #fff,
    225px 337px #fff, 1536px 1906px #fff, 1120px 542px #fff, 1173px 1844px #fff,
    86px 551px #fff, 1479px 1491px #fff, 1013px 1069px #fff, 1936px 49px #fff,
    295px 393px #fff, 359px 923px #fff, 399px 1867px #fff, 1497px 1051px #fff,
    398px 45px #fff, 188px 749px #fff, 452px 797px #fff, 956px 569px #fff,
    1897px 453px #fff, 1155px 788px #fff, 730px 324px #fff, 983px 609px #fff,
    1280px 1320px #fff, 1530px 1417px #fff, 792px 1341px #fff,
    1852px 1620px #fff, 628px 530px #fff, 810px 519px #fff, 637px 1524px #fff,
    163px 40px #fff, 1114px 1645px #fff, 1698px 1178px #fff, 1717px 93px #fff,
    1084px 1223px #fff, 936px 514px #fff, 1953px 479px #fff, 1035px 1205px #fff,
    981px 1089px #fff, 721px 574px #fff, 1976px 376px #fff, 1770px 759px #fff,
    1288px 763px #fff, 751px 1492px #fff, 1712px 1677px #fff, 1498px 961px #fff,
    752px 1901px #fff, 1364px 1956px #fff, 1220px 869px #fff, 1843px 343px #fff,
    1291px 1225px #fff, 1273px 1987px #fff, 1576px 1491px #fff,
    1932px 1970px #fff, 954px 949px #fff, 1164px 1797px #fff, 697px 1885px #fff,
    1404px 353px #fff, 481px 1350px #fff, 137px 980px #fff, 1497px 723px #fff,
    1592px 1330px #fff, 625px 553px #fff, 1943px 1740px #fff, 994px 1090px #fff,
    940px 234px #fff, 1533px 1927px #fff, 401px 1375px #fff, 1070px 1827px #fff,
    356px 101px #fff, 798px 1326px #fff, 1140px 1570px #fff, 1557px 1303px #fff,
    1645px 1776px #fff, 79px 440px #fff, 1064px 1778px #fff, 782px 1893px #fff,
    1629px 278px #fff, 1669px 1143px #fff, 1208px 1685px #fff, 989px 1578px #fff,
    1622px 675px #fff, 1652px 1636px #fff, 283px 1922px #fff, 1512px 286px #fff;
}

#stars {
  animation: animStar 50s linear infinite;
}

#stars2,
#stars2:after {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 52px 797px #fff, 1032px 774px #fff, 750px 210px #fff,
    80px 64px #fff, 1736px 1539px #fff, 1506px 1786px #fff, 194px 1620px #fff,
    1699px 531px #fff, 472px 789px #fff, 251px 1711px #fff, 1351px 410px #fff,
    1415px 552px #fff, 764px 1637px #fff, 1878px 941px #fff, 1114px 285px #fff,
    244px 115px #fff, 1694px 1881px #fff, 1329px 1519px #fff, 200px 761px #fff,
    1448px 1978px #fff, 706px 1026px #fff, 1162px 1178px #fff, 709px 1031px #fff,
    1032px 760px #fff, 1126px 1160px #fff, 675px 1083px #fff, 410px 964px #fff,
    1714px 888px #fff, 1264px 1625px #fff, 248px 772px #fff, 449px 1485px #fff,
    537px 1230px #fff, 104px 521px #fff, 1430px 568px #fff, 82px 1904px #fff,
    365px 792px #fff, 1957px 521px #fff, 1018px 1707px #fff, 1554px 1293px #fff,
    1370px 1457px #fff, 1626px 1350px #fff, 1385px 949px #fff,
    1793px 1685px #fff, 844px 323px #fff, 4px 1689px #fff, 876px 1041px #fff,
    150px 1947px #fff, 482px 1983px #fff, 807px 418px #fff, 1559px 1432px #fff,
    1726px 981px #fff, 1474px 990px #fff, 954px 268px #fff, 1938px 624px #fff,
    495px 664px #fff, 87px 173px #fff, 1566px 812px #fff, 1173px 1359px #fff,
    1309px 691px #fff, 1228px 302px #fff, 1226px 433px #fff, 390px 11px #fff,
    820px 309px #fff, 502px 813px #fff, 1995px 108px #fff, 1166px 1057px #fff,
    680px 1830px #fff, 1773px 868px #fff, 47px 1718px #fff, 1096px 133px #fff,
    130px 1037px #fff, 126px 761px #fff, 667px 1662px #fff, 461px 900px #fff,
    1940px 842px #fff, 297px 1704px #fff, 337px 1756px #fff, 1373px 1789px #fff,
    1348px 973px #fff, 1708px 871px #fff, 406px 220px #fff, 683px 1481px #fff,
    838px 1622px #fff, 1121px 786px #fff, 1893px 906px #fff, 1223px 831px #fff,
    214px 969px #fff, 1027px 1787px #fff, 2000px 1203px #fff, 907px 1341px #fff,
    420px 1419px #fff, 976px 565px #fff, 1769px 290px #fff, 1521px 487px #fff,
    1234px 648px #fff, 1335px 1745px #fff, 259px 1900px #fff, 800px 784px #fff,
    360px 1077px #fff, 1770px 827px #fff, 125px 1186px #fff, 1978px 771px #fff,
    1843px 1784px #fff, 1397px 818px #fff, 1749px 951px #fff, 1848px 1358px #fff,
    66px 431px #fff, 1499px 324px #fff, 565px 1762px #fff, 118px 58px #fff,
    66px 1095px #fff, 515px 1691px #fff, 427px 1373px #fff, 1428px 660px #fff,
    1581px 1071px #fff, 1653px 1100px #fff, 922px 1458px #fff, 1581px 243px #fff,
    874px 1607px #fff, 590px 1199px #fff, 743px 1572px #fff, 1099px 1849px #fff,
    1384px 767px #fff, 1197px 1904px #fff, 1374px 313px #fff, 1908px 554px #fff,
    1350px 688px #fff, 1486px 646px #fff, 270px 402px #fff, 745px 1609px #fff,
    30px 168px #fff, 107px 241px #fff, 271px 843px #fff, 1095px 938px #fff,
    753px 1919px #fff, 1560px 1988px #fff, 1101px 128px #fff, 914px 458px #fff,
    1785px 911px #fff, 1870px 1418px #fff, 1746px 1273px #fff, 532px 1916px #fff,
    1563px 293px #fff, 1813px 1608px #fff, 1430px 1645px #fff, 221px 1068px #fff,
    1799px 280px #fff, 1296px 535px #fff, 1167px 923px #fff, 1290px 772px #fff,
    106px 1651px #fff, 1051px 1659px #fff, 1621px 1066px #fff, 1050px 503px #fff,
    1330px 1821px #fff, 1697px 162px #fff, 580px 1466px #fff, 1393px 1857px #fff,
    130px 537px #fff, 1451px 458px #fff, 1652px 1790px #fff, 1986px 1298px #fff,
    589px 36px #fff, 1230px 1805px #fff, 917px 195px #fff, 1808px 1739px #fff,
    647px 299px #fff, 357px 1257px #fff, 1515px 52px #fff, 269px 85px #fff,
    462px 396px #fff, 1261px 1907px #fff, 1955px 1580px #fff, 84px 1404px #fff,
    224px 1000px #fff, 28px 1157px #fff, 1517px 211px #fff, 1025px 1922px #fff,
    217px 1144px #fff, 499px 1095px #fff, 1769px 1351px #fff, 572px 744px #fff,
    839px 1973px #fff, 1569px 420px #fff, 952px 962px #fff, 1330px 1883px #fff,
    1671px 1947px #fff, 532px 1115px #fff, 1820px 777px #fff, 1174px 1762px #fff,
    469px 748px #fff, 500px 1875px #fff, 1758px 189px #fff, 1850px 1819px #fff,
    1370px 1416px #fff, 42px 1933px #fff, 457px 408px #fff, 1849px 915px #fff,
    1592px 298px #fff, 1036px 1365px #fff;
}
#stars2 {
  animation: animStar 100s linear infinite;
}

#stars3,
#stars3:after {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1244px 1338px #fff, 101px 231px #fff, 1495px 990px #fff,
    343px 707px #fff, 683px 1487px #fff, 951px 1933px #fff, 1299px 971px #fff,
    1722px 379px #fff, 552px 548px #fff, 63px 1363px #fff, 1672px 381px #fff,
    1897px 1386px #fff, 1207px 1370px #fff, 465px 958px #fff, 1576px 1680px #fff,
    612px 1971px #fff, 764px 1295px #fff, 1290px 396px #fff, 1831px 1202px #fff,
    1000px 838px #fff, 53px 1662px #fff, 99px 982px #fff, 634px 1064px #fff,
    1734px 1471px #fff, 210px 1952px #fff, 1076px 871px #fff, 1230px 509px #fff,
    922px 1888px #fff, 757px 1508px #fff, 1660px 854px #fff, 817px 1250px #fff,
    1821px 539px #fff, 1582px 1301px #fff, 1850px 1589px #fff,
    1105px 1796px #fff, 1497px 1697px #fff, 1365px 82px #fff, 1496px 1733px #fff,
    34px 1416px #fff, 1630px 1321px #fff, 1541px 425px #fff, 386px 878px #fff,
    1349px 626px #fff, 359px 380px #fff, 1724px 608px #fff, 1684px 1794px #fff,
    276px 184px #fff, 1212px 1584px #fff, 356px 1109px #fff, 1934px 1332px #fff,
    1354px 1961px #fff, 1891px 715px #fff, 299px 1944px #fff, 1604px 1132px #fff,
    614px 1759px #fff, 913px 567px #fff, 1534px 982px #fff, 800px 1060px #fff,
    1966px 510px #fff, 1704px 907px #fff, 1228px 1860px #fff, 769px 777px #fff,
    442px 1792px #fff, 1537px 1039px #fff, 1095px 262px #fff, 1384px 350px #fff,
    1253px 1132px #fff, 752px 1233px #fff, 461px 1319px #fff, 1491px 529px #fff,
    1977px 312px #fff, 1475px 1324px #fff, 1472px 1657px #fff, 1057px 387px #fff,
    1373px 747px #fff, 221px 870px #fff, 886px 306px #fff, 16px 117px #fff,
    1936px 256px #fff, 158px 1198px #fff, 892px 1030px #fff, 1939px 1523px #fff,
    619px 1458px #fff, 1737px 364px #fff, 1125px 473px #fff, 1087px 1440px #fff,
    821px 1486px #fff, 1615px 1177px #fff, 811px 457px #fff, 898px 214px #fff,
    1957px 1603px #fff, 1734px 304px #fff, 1621px 1394px #fff, 451px 1525px #fff,
    837px 1270px #fff, 1541px 994px #fff, 1575px 10px #fff, 1836px 1032px #fff,
    1249px 136px #fff, 238px 381px #fff;
}
#stars3 {
  animation: animStar 150s linear infinite;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 20px;
  margin-left: 0;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}

@media (min-width: 960px) {
  .main {
    margin-left: 280px;
  }
}
